<div class="flex flex-col w-full md:w-1/2 mx-auto">
  <button type="button"
          hx-get="{% url 'manager:list_logins' %}"
          hx-target="#main-content"
          hx-swap="innerHTML"
          class="bg-blue-500 mb-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >Back</button>

  <div class="mx-auto p-5 bg-white rounded-lg shadow-md w-full">
    <h2 class="text-xl font-semibold text-gray-800">{{ object.title }}</h2>
    <p class="mt-2 text-gray-600">URL: <a href="{{ object.url }}"
                                          class="text-blue-500 hover:underline">{{ object.url }}</a></p>
    <p class="mt-1 text-gray-600">Login: {{ object.login }}</p>
    <div class="mt-4">
      <h3 class="text-lg font-semibold text-gray-700">Notes:</h3>
      <p class="text-gray-600 whitespace-pre-line">{{ object.notes|default:"No notes provided." }}</p>
    </div>
  </div>
</div>


