<div class="max-w-md w-full bg-white p-8 border border-gray-300 mx-auto mt-10">
  <button type="button"
      {% if object.id %}
          hx-get="{% url 'manager:detail_login' object.id %}"
      {% else %}
          hx-get="{% url 'manager:secret_buttons' %}"
      {% endif %}
          hx-target="#main-content"
          hx-swap="innerHTML"
          class="bg-blue-500 mb-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >Back
  </button>

  <h1 class="text-xl font-bold mb-6">Add Login</h1>
  <form method="post"
      {% if object.id is not None %}
        hx-post="{% url 'manager:edit_login' object.id %}"
      {% else %}
        hx-post="{% url 'manager:add_login' %}"
      {% endif %}
        hx-swap="innerHTML"
        hx-target="#main-content">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <div class="flex items-center justify-between">
      <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Save
      </button>

      <button type="button"
          {% if object.id %}
              hx-get="{% url 'manager:detail_login' object.id %}"
          {% else %}
              hx-get="{% url 'manager:list_logins' %}"
          {% endif %}
              hx-target="#main-content"
              hx-swap="innerHTML"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >Cancel
      </button>
    </div>
  </form>
</div>