{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
  <title>Password Manager: {% block page_title %}{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static '/css/common.css' %}">
  <script src="{% static '/js/htmx.min.js' %}"></script>
</head>
<body hx-boost="true">
{% block main %}
  This is the main content
{% endblock %}
</body>
</html>